/****** Script para el comando SelectTopNRows de SSMS  ******/
USE Productos;
SELECT * FROM Televisores WHERE 1 = 1
 
ORDER BY pulgadas,marca DESC

/*SELECT marca as Marca,pais AS Country FROM	Televisores*/



